body, html {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: black;
}
.row-container {
    display: table; 
    empty-cells: show; 
    border-collapse: collapse; 
    width: 100%; 
    height: 100%;
}
.content-logo {
    display: table-row; 
    overflow: auto;
}

.content-logo-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding-bottom: 3%;
}

.content-video {
    display: table-row; 
    height: 100%;
    overflow: hidden;
    position: relative;
    column-count: 3;
}

.content-video iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    display: block;
}